<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="footer" >

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{/js/index.min.js}"></script>
<script>
	$('.btn-danger').on('click', function(){
		var $this = $(this);
		if(confirm('Данное действие необратимо. Вы уверены?'))
			$.ajax({
			  type: 'POST',
			  url: 'users/del/' + $this.data('id'),		 
			  success: function(){ $this.closest('tr').remove(); }
			});
	})
</script>

</th:block>